<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>{{.Name}}</h1>
    <div class="movie-info">
        <img src="{{.Poster.URL}}" alt="{{.Name}}" class="poster"/>
        <div class="details">
            <p><strong>Тип:</strong> {{.Type}}</p>
            <p><strong>Год выпуска:</strong> {{.Year}}</p>
            <p><strong>Рейтинг КП:</strong> {{.Rating.KP}}</p>
            <p><strong>Жанры:</strong>
                {{range $index, $genre := .Genres}}
                {{if $index}}, {{end}}{{.Genre}}
                {{end}}
            </p>
            <p><strong>Страна:</strong> {{(index .Countries 0).Country}}</p>
            <p><strong>Описание:</strong> {{.Description}}</p>
        </div>
    </div>

    <div class="favorite-container">
        <nav>
            {{if .IsLogged}}
                <form id="favorite-form" method="POST" action="/add_favorite">
                    <input type="hidden" name="movie_id" value="{{.ID}}">
                    <input type="hidden" name="movie_name" value="{{.Name}}">
                    <button type="submit" class="submit-btn">Добавить в избранное</button>
                </form>
            {{else}}
            <p>Войдите, чтобы добавить фильмы в избранное.</p>
            {{end}}
        </nav>
        <p id="status-message"></p>
    </div>

    <div class="button-container">
        <button onClick="window.location.reload();" class="submit-btn">Найти еще раз</button>

        <form action="{{.URL}}" target="_blank">
            <button class="submit-btn">Перейти на страницу КиноПоиска</button>
        </form>

        <form action="/">
            <button class="index-btn">На главную</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('favorite-form').addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(this);

        fetch('/add_favorite', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                const statusMessage = document.getElementById('status-message');
                if (data.success) {
                    statusMessage.textContent = 'Фильм добавлен в избранное!';
                } else {
                    statusMessage.textContent = 'Ошибка: ' + data.message;
                }
            })
            .catch(error => {
                document.getElementById('status-message').textContent = 'Ошибка: ' + error.message;
            });
    });
</script>
</body>
</html>